{
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSameLine": true,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "endOfLine": "auto",
    "ignoreComments": "true"


}